<h2>Lists</h2>
<div class="bs-docs-example">
  {{view Bootstrap.NavList
        contentBinding="controller.selections"
        selectionBinding="controller.selection"}}
</div>
<pre class="prettyprint linenums">&#123;{view Bootstrap.NavList
       contentBinding="controller.selections"
       selectionBinding="controller.selection"}}</pre>
