<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#linkTo 'home' class="brand"}}Ember Bootstrap Rails{{/linkTo}}
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>{{#linkTo 'home'}}Home{{/linkTo}}</li>
          <li>{{#linkTo 'components'}}Components{{/linkTo}}</li>
          <li>{{#linkTo 'examples'}}Examples{{/linkTo}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>