<h2>Pills</h2>
<div class="bs-docs-example">
  {{view Bootstrap.Pills
        contentBinding="controller.selections"
        selectionBinding="controller.selection"}}
</div>
<pre class="prettyprint linenums">&#123;{view Bootstrap.Pills
       contentBinding="controller.selections"
       selectionBinding="controller.selection"}}</pre>
