<h2>Tabs
<form class="pull-right">
  <label class="checkbox inline">
    {{view Ember.Checkbox checkedBinding="controller.stacked"}} Stacked?
  </label>
</form>
</h2>
<div class="bs-docs-example">
  {{view Bootstrap.Tabs
        contentBinding="controller.selections"
        isStackedBinding="controller.stacked"
        selectionBinding="controller.selection"}}
</div>
<pre class="prettyprint linenums">&#123;{view Bootstrap.Tabs
       contentBinding="controller.selections"
       isStackedBinding="controller.stacked"
       selectionBinding="controller.selection"}}</pre>
