<h2>Tabs</h2>
<div class="bs-docs-example">
  {{view Bootstrap.Tabs
        contentBinding="controller.selections"
        selectionBinding="controller.selection"}}
</div>
<pre class="prettyprint linenums">&#123;{view Bootstrap.Tabs
       contentBinding="controller.selections"
       selectionBinding="controller.selection"}}</pre>
