<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Components</h1>
    <p class="lead">Dozens of reusable components built to provide navigation, alerts, popovers, and more.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
        <li>{{#linkTo 'labels'}}<i class="icon-chevron-right"></i>Labels{{/linkTo}}</li>
        <li>{{#linkTo 'badges'}}<i class="icon-chevron-right"></i>Badges{{/linkTo}}</li>
      </ul>
    </div>
    <div class="span9">
      {{ outlet }}
    </div>
  </div>
</div>