<h2>ember-forms</h2>
<p>
  <fieldset>
    <legend>User data</legend>
    {{field name}}
    {{field gender}}
  </fieldset>
  <fieldset>
    <legend>Other data</legend>
    {{field comments as="textarea"}}
  </fieldset>
  {{form buttons}}
</p>
