<div class="jumbotron masthead">
  <div class="container">
    <h1>Ember Bootstrap Rails</h1>
    <p>Three top frameworks for faster and easier web development.</p>
    <p>
      <a href="https://github.com/kristianmandrup/ember-bootstrap-rails" class="btn btn-primary btn-large">Use Ember Bootstrap Rails</a>
    </p>
  </div>
</div>