<h1>Pills</h1>

Static:
{{view Bootstrap.Pills content="{{['Hello', 'Bye]'}}" selection="Hello"}}

{{! Bind to properties on controller }}
Dynamic:
{{view Bootstrap.Pills contentBinding="content.selections" selectionBinding="content.selection"}}