<h1>Bootstrap Progressbars Demo</h1>

{{view Bootstrap.ProgressBar isStriped="true" isAnimated="true" 
      progress="50"}}

{{view Bootstrap.ProgressBar isStriped="true" isAnimated="true" 
      progressBinding="content.progress"}}
