<h1>Bootstrap Text & Typography Demo</h1>

<h2>Badges</h2>

<h3>Static</h3>
<p>
{{view Bootstrap.Badge type="success" content="Completed :)"}}
</p>

<h3>Dynamic</h3>
<p>
{{view Bootstrap.Badge type="success" contentBinding="content.label"}}
</p>

<h2>Wells</h2>
<p>
{{view Bootstrap.Well content="Important note about Ember and Bootstrap" }}
<p>